<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272890391961-dtmu77emjjbtq1bemr0ddi3driii8d2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272890391961-dtmu77emjjbtq1bemr0ddi3driii8d2v</string>
	<key>API_KEY</key>
	<string>AIzaSyBtNoII56jEhIxlgw1RjpwKbMTxN_26rT4</string>
	<key>GCM_SENDER_ID</key>
	<string>272890391961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChatExample.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-6143c</string>
	<key>STORAGE_BUCKET</key>
	<string>test-6143c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272890391961:ios:18eb68436cf0dce48f3708</string>
</dict>
</plist>